<!-- Search form -->
<div class="well well-large row">
	<form ng-submit="submit()" ng-controller="ActionFormCtrl" class="form-search">
		<div class="span12 pagination-centered">
			<h2>
				Search on <strong>Github</strong> repositories !
			</h2>
			<div class="input-append">
				Your search <input type="search" class="input-xlarge search-query"
					ng-model="yourSearch" placeholder="Enter you keyword" required>
				<button type="submit" class="btn btn-primary"
					data-loading-text="Loading...">
					<i class="icon-search"></i> Search
				</button>
			</div>
		</div>
	</form>
</div>

<!-- Results List -->
<div ng-controller="SearchCtrl">

	<!-- 	Search pagination -->
	<!-- <div class="pagination"> -->
	<!--   <ul> -->
	<!--     <li><a href="#">Prev</a></li> -->
	<!--     <li><a href="#">1</a></li> -->
	<!--     <li><a href="#">2</a></li> -->
	<!--     <li><a href="#">3</a></li> -->
	<!--     <li><a href="#">4</a></li> -->
	<!--     <li><a href="#">Next</a></li> -->
	<!--   </ul> -->
	<!-- </div> -->

	<table class="table table-striped">
		<caption>Github Search Results (count : {{repos.repositories.length}})</caption>
		<thead>
			<tr>
				<th><a href="" ng-click="predicate = 'created'; reverse=!reverse">Since</a></th>
				<th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
				<th><a href="" ng-click="predicate = 'username'; reverse=!reverse">Username</a></th>
				<th><a href="" ng-click="predicate = 'description'; reverse=!reverse">Description</a></th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="repo in repos.repositories | orderBy:predicate:reverse">
				<td><span class="badge badge-inverse">{{ repo.created | date:'dd-MM-yyyy' }}</span></td>
				<td>{{repo.name}}</td>
				<td>{{repo.username}}</td>
				<td>{{repo.description}}</td>
				<td>
					<div class="btn-group" ng-controller="StatsCtrl">

						<button ng-click="getDetails(repo)" type="button" class="btn btn-small">
							<i class="icon-signal"></i>Stats
						</button>
<!-- 						<my-modal owner="{{repo.username}}" repo="{{repo.name}}">MY MODAL</my-modal> -->
						<button class="btn btn-small">
							<i class="icon-globe"></i><a href="https://github.com/{{repo.username}}/{{repo.name}}" target="_blank">Git Url</a>
						</button>
						
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

