<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="UTF-8">
<title>Welcome on GitMyHub</title>

<!-- CSS -->
<link rel="stylesheet" href="scripts/bootstrap/css/bootstrap.css"
	type="text/css">
<!-- Javascript -->
<script src="http://code.angularjs.org/1.1.0/angular.js"></script>
<!-- <script src="scripts/gmh/githubapi.js"></script> -->
<script src="scripts/gmh/phones.js"></script>

<style>
body {
	padding-top: 60px;
	/* 60px to make the container go all the way to the bottom of the topbar */
}
</style>

</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" href="#">Git My Hub</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="#">Search</a></li>
						<li><a href="#about">Stats</a></li>
						<li><a href="#contact">About me</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container" >
		<h1>Repository search {{yourSearch}} !</h1>
			Your search here : <input type="search" class="search-query" ng-model="yourSearch" placeholder="Saisir le mot clé"> 
		<form>
<!-- 			<input type="submit" id="btnSubmit" value="Search" class="btn-primary"> -->
		</form>
		<div ng-view></div>
	</div>
	
	
	<div ng-controller="PhoneListCtrl">
		<ul>
			<li ng-repeat="phone in phones">{{phone.name}}
				<p>{{phone.snippet}}</p>
			</li>
		</ul>
	</div>
	
	<div ng-controller="SearchCtrl">
		<ul>
			<li ng-repeat="repo in repos | filter:yourSearch | orderBy:'name'">
			{{repo.name}}<p> {{repo.username}}</p>
			</li>
		</ul>
	</div>


</body>
</html>